*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkgray;
}

.mavi {
    color: blue;
}

.kirmizi {
    color: red;
}

.yesil {
    color: greenyellow;
}
div{
    position: relative;
    text-align: center;
    align-items: center;

}